<div class="row">
  <div class="large-3 columns"><h1>faktory</h1></div>
  <div class="large-9 columns"></div>
</div>
<p>Welcome to <b>The Faktory</b>. Expect great things. - Geordie</p>
<img src="http://www.overgaard.dk/thorstenovergaardcom_copyrighted_graphics/Leica-factory-Ernst-Leitz-ca-1940-wetzlar-Germany.jpg" alt="leica factory"/>
<p>Coming to a <%= link_to 'factory', 'http://en.wikipedia.org/wiki/Factory' %> near you <b>very soon</b>.</p>
