<div class="row">
  <div class="large-3 columns"><h1>faktory</h1></div>
  <div class="large-9 columns"></div>
</div>
<p>Welcome to <b>The Faktory</b>. Expect great things. - Geordie</p>
<p>Coming to a <%= link_to 'factory', 'http://en.wikipedia.org/wiki/Factory' %> near you <b>very soon</b>.</p>
<p>this branch is integrated with <%= link_to 'HOUND CI', 'https://houndci.com/', method: :post %>.</p>
